# Python
__pycache__/
*.py[codz]
*$py.class

# Virtual Environment
venv/
.venv

# Environment Variables
.env

# Database
*.db

# IDE
tempCodeRunnerFile.py

# OS
.DS_Store

# Packaging
*.egg-info/
*.egg